body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
  }
  
  .container {
    max-width: 1170px;
    margin: 2px auto; /* Increased top margin */
    padding: 60px 20px; /* More vertical padding for a modern look */
    background-color: #fff;
    border-radius: 8px; /* Softened edges */
  }
  
  .header h1 {
    margin-bottom: 20px; /* Reduced bottom margin to bring h1 closer to h2 */
    color: #25252b; /* Slightly softer color for the header */
    font-size: 3.5rem; /* Smaller font size for a more elegant appearance */
    font-weight: 300; /* Bold for impact */
  }
  
  .content {
    padding: 20px;
  }
  
  .content h2 {
    margin-top: 10px; /* Reduced top margin to bring h2 closer to h1 */
    color: #25252b;
    font-size: 2.9rem;
    font-weight: 300;
    margin-top: 1.8rem; /* Adds space above h2 for better separation */
    
  }
  
  .content h3 {
    font-weight: 500;
  }
  
  .container p {
    line-height: 1.8; /* Slightly increased line height for readability */
    margin-top: -20px;
  }

  a {
    color: #25252b;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  button, .button {
    background-color: #25252b;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  button:hover, .button:hover {
    background-color: #004165;
    transform: translateY(-2px); /* Slight lift on hover for a modern feel */
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .header h1 {
      font-size: 1.75rem; /* Adjust the size for smaller screens */
    }
  
    .container {
      padding: 20px;
      margin-top: 30px; /* Less margin on top for smaller screens */
    }
  }
  
  .challenge-image img {
    max-width: 70%;
    height: auto;
    margin-bottom: 20;
  }
  
  @media (max-width: 768px) {
    .challenge-image img {
      /* You might want to reduce the size on smaller screens or adjust the margins */
      margin: 10px auto;
    }
  }
  
  /* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-left: 0; /* Align the slideshow to the left */
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* Next and previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dots-container {
    text-align: center;
    padding: 20px 0;
    margin-right: 350px;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Responsive adjustments if needed */
  @media (max-width: 768px) {
    .prev, .next, .dot {
      /* Adjust for smaller screens */
    }
  }
  .mySlides img {
    width: 85%; /* Adjust this value to control the width; could be in pixels or a percentage */
    height: auto; /* This maintains the aspect ratio */
    /* If you want to set a maximum height, use the following line: */
  }
